<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#F7F8FA">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  {% include google-analytics.html %}
  {% seo %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Yifan Yang",
      "alternateName": "Yang Yifan",
      "jobTitle": "Assistant Professor of Linguistics",
      "affiliation": {
        "@type": "CollegeOrUniversity",
        "name": "Shanghai Jiao Tong University"
      },
      "url": "{{ site.url }}{{ site.baseurl }}",
      "email": "mailto:yifanyang@sjtu.edu.cn",
      "sameAs": {{ site.social.links | jsonify }}
    }
  </script>
</head>
