---
layout: default
---

<div class="wrapper">
  <div class="leftColumn">
    <!-- Left column of images -->
    <figure class="imgDetails">
      <img src="assets/img/pic-01.jpg">
      <figcaption></figcaption>
    </figure>
    <!-- ... More figures ... -->
  </div>

  <div class="rightColumn">
    <!-- Right column text -->
    <p> My research interest lies in <b>phonological theory
      and its interface with phonetics and morphology</b>.
      My work often combines phonological theories
      with empirical data collected through fieldwork and phonetic analysis,
      aiming to bridge the theoretical and empirical dimensions of phonology.
      <!-- After getting my PhD in Linguistics from the University of Southern California, 
      I am now a tenure-track Assistant Professor at Shanghai Jiao Tong University.-->
    </p>

    <p> I primarily focus on understudied Chinese dialects,
      with a particular emphasis on the <b>diminutive</b> patterns:
      the ways languages modify words to make them sound smaller, cuter, or more affectionate.
      My fascination with these intricate patterns traces back to
      the local dialects of my hometown and
      the nostalgic memories of my grandmother’s words.
    </p>

    <p>The pronounciation of my name in Mandarin Chinese: [i˥.fan˧˥.jɑŋ˧˥].</p>
  </div>
</div>

<!--
<div class='container2'>
  <div>
    <img src="assets/img/pic-03.jpg" class = 'imgDetails2'>
    <img src="assets/img/pic-01.jpg" class = 'imgDetails2'>
  </div>

  <div style = 'margin-left:350px;'>
    <p> My research interest lies in <b>phonological theory
      and its interface with phonetics and morphology</b>.
      My work often combines theoretical frameworks
      with empirical data collected through fieldwork and phonetic analysis,
      aiming to bridge the theoretical and empirical dimensions of phonology.
      After getting my PhD in Linguistics from the University of Southern California,
        I am now a tenure-track Assistant Professor at
        Shanghai Jiao Tong University.
    </p>

    <p> I primarily focus on understudied Chinese dialects,
      with a particular emphasis on the <b>diminutive</b> patterns:
      the ways languages modify words to make them sound smaller, cuter, or more affectionate.
      My fascination with these intricate patterns traces back to
      the local dialects of my hometown and
      the nostalgic memories of my grandmother’s words.
    </p>

    <p>The pronounciation of my name in Mandarin Chinese: [i˥.fan˧˥.jɑŋ˧˥].</p>

  </div>
</div>
-->

<hr>

<ul>
  <li>Brief overviews of my research topics are available on the <a href="/research.html"><i>Research</i></a> page.</li>
  <li>Downloadable papers, slides, and posters can be found on <a href="/papers.html"><i>Papers</i></a> and <a href="/presentations.html"><i>Presentations</i></a>. </li>
  <li>For a complete list of my academic work, please see my <a href="/cv.html"><i>Curriculum Vitae</i></a>.</li>    
</ul>

<h3>Some themes in my research:</h3>
  <ul>
    <li>Diminutive formation</li>
    <li>Reduplication</li>
    <li>Nonconcatenative morphology</li>
    <li>Agreement-by-Correspondence</li>
    <li>Syllable structure</li>
  </ul>


<!--
{% for post in paginator.posts %}
  <div class="posts-container">
    <h2>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    {% if post.image %}
      <div class="posts-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 750 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %} -->

<!-- Pagination links
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
