---
layout: default
---

<div class='container2'>
  <div>
    <img src="assets/img/pic-03.jpg" class = 'imgDetails2'>
  </div>

  <div style = 'margin-left:350px;'>
    <p> My research interest lies in <b>phonological theory
      and its interface with phonetics and morphology</b>.
      My work often combines theoretical frameworks
      with empirical data collected through fieldwork and phonetic analysis,
      aiming to bridge the theoretical and empirical dimensions of phonology.
      After getting my PhD in Linguistics from the University of Southern California,
        I am now a tenure-track Assistant Professor at
        Shanghai Jiao Tong University.
    </p>

    <p> I primarily focus on understudied Chinese dialects,
      with a particular emphasis on the <b>diminutive</b> patterns:
      the ways languages modify words to make them sound smaller, cuter, or more affectionate.
      My fascination with these intricate patterns traces back to
      the local dialects of my hometown and
      the nostalgic memories of my grandmother’s words.
    </p>

    <p>The pronounciation of my name in Mandarin Chinese: [i˥.fan˧˥.jɑŋ˧˥].</p>

  </div>
</div>

<hr>
<h3>Some key themes in my research:</h3>
  <ul>
    <li>diminutive formation</li>
    <li>nonconcatenative morphology</li>
    <li>reduplication</li>
    <li>agreement-by-correspondence</li>
    <li>syllable structure</li>
  </ul>

More details about my research can be found on the <a href="/research.html"><i>Research</i></a> page.

<!--
<div class='container3'>
  <div>
    <img src="assets/img/usc.png" class = 'imgDetails3'>
  </div>

  <div style = 'margin-right:350px;'>
    <h2>Research interests</h2>
      <h3>General</h3>
      		<ul>
      			<li>Phonology and its interface with morphology</li>
      			<li>Phonetics</li>
      		</ul>

      <h3>Specific (Past projects)</h3>
      		<ul>
      			<li>Identity effect in phonology-reduplication interaction</li>
      			<li>Phonetics and phonology of understudied languages</li>
      			<li>Gestural coordination of diphthongs</li>
      			<li>Rime change patterns of Chinese languages/dialects</li>
      			<li>Morpheme realization and the architecture of grammar</li>
      		</ul>

      <p>I am a member of <a href="https://sites.google.com/view/uscphongroup/home">USC Phonetics and Phonology Group</a>
      	and <a href="https://dornsife.usc.edu/labs/shlac/">Language and Computation Lab (ShLAC)</a>. <br /></p>

  </div>
</div>
-->

<br>

<!--
<hr>

<h2>News and updates</h2>
<li><b>May 2022</b>. </li>

<hr>

-->

<!--
<span class = "image fit">
  <img src="assets/img/dtla.jpg"
  width: 50%,
  height: auto;
  alt="" />
</span>
-->

<!--
{% for post in paginator.posts %}
  <div class="posts-container">
    <h2>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    {% if post.image %}
      <div class="posts-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 750 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %} -->

<!-- Pagination links
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
